<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all users</title>
</head>
<body>
    {% include 'info.html' %}
    {% include 'error.html' %}

    {% for user in users %}
        <button onclick="return deleteUser('{{ user[1] }}', {{ user[0] }})">Delete user {{ user[1] }}</button>
    {% endfor %}

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/users.js') }}"></script>
</body>
</html>