<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all users</title>
</head>
<body>
    {% include 'info.html' %}
    {% include 'error.html' %}
    {% include 'adminHeader.html' %}

    {% for user in users %}
        {% set userId = user[0] %}
        {% set userName = user[1] %}
        <button onclick="return del('{{ userName }}', '{{ url_for('deleteUser', id=userId) }}')">Delete user {{ userName }}</button>
    {% endfor %}

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/del.js') }}"></script>
</body>
</html>